body{
    background-color: black;
    margin: 0px;
}
div.row div {
    width: 50px;
    height: 50px;
    display: inline-block;
}
div.brick {
    background-color:blue ;
}
div.coin {
    background: url('coin.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div.cherry {
    background: url('cherry.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div.empty {
    background-color: black;
}
div#tux {
    background: url('tux.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
}

